section#banner {
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-top: 48px;
    position: relative;
}

section#banner>div>i.bx.bxs-chevron-left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);

}

section#banner>div>i.bx.bxs-chevron-right {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 1.8em;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

section#banner>div>div.banner-sabet-slider {
    position: absolute;
    // background-color: blue;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

section#banner>div>div.banner-sabet-slider>div.one {
    background-color: whitesmoke;
    width: 88px;
    height: 2px;
    position: relative;
    background-color: rgb(190, 190, 190);
}

div.banner-sabet-slider>div.one>p{
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: orangered;
}

section#banner>div#banner-slider1 {
    background-image: url(../media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 1s;

}
section#banner>div#banner-slider2 {
    background-image: url(../media/header2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 1s;
}
section#banner>div#banner-slider3 {
    background-image: url(../media/header3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 1s;
}
section#banner>div#banner-slider4 {
    background-image: url(../media/header4.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 1s;
}

section#banner>div.banner-slider#banner-slider1>div.banner-slider-container {
    // background-color: aqua;
    position: absolute;
    width: 30%;
    min-height: fit-content;
    top: 20%;
    right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
section#banner>div.banner-slider#banner-slider2>div.banner-slider-container {
    // background-color: aqua;
    position: absolute;
    width: 30%;
    min-height: fit-content;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
section#banner>div.banner-slider#banner-slider3>div.banner-slider-container {
    // background-color: aqua;
    position: absolute;
    width: 30%;
    min-height: fit-content;
    top: 8%;
    right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
section#banner>div.banner-slider#banner-slider4>div.banner-slider-container {
    // background-color: aqua;
    position: absolute;
    width: 30%;
    min-height: fit-content;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

div.banner-slider-container>button {
    width: 100px;
}