nav {
    background-color: rgba(255, 255, 255, 1);
    min-height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 32px;
}

div.nav-left {
    width: 50%;
    height: 100%;
    // background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;


}

div.nav-right {
    width: 50%;
    height: 100%;
    // background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: end;

}

/* .........................Header-top...................... */

i.fa-brands.fa-xing {
    color: #ffffff;
    background-color: orangered;
    font-size: 2em;
    margin-right: 10px;
    border-radius: 30%;
    z-index: 0;
}

// i.fa-brands.fa-xing:hover {
//     display: none;
// }

i.fa-solid.fa-house {
    z-index: 1;
    color: #ffffff;
    background-color: orangered;
    font-size: 2em;
    margin-right: 10px;
    border-radius: 30%;
}

.nav-left-phone-items {
    z-index: 999;
    position: absolute;
    width: 100%;
    min-height: 150px;
    padding: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 48px;
    transition: all 0.7s;
    color: black !important;
    background-color: rgb(230, 230, 230);
    backdrop-filter: blur(30px) !important;
    box-shadow: 10px 9px 21px -1px rgba(33,18,117,0.8);
}
.nav-left-phone-items>li{
    font-size: 1.2em;
}

.nav-left-phone:hover .nav-left-phone-items {
    visibility: visible;
    opacity: 1;
}

.nav-left-phone-items>li:hover {
    color: orangered !important;
}

.nav-left-smart-items {
    z-index: 999;
    position: absolute;
    width: 100%;
    min-height: 150px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 48px;
    transition: all 0.7s;
    color: black !important;
    background-color: whitesmoke;
    text-align: center;
}

.nav-left-smart:hover .nav-left-smart-items {
    visibility: visible;
    opacity: 1;
}

.nav-left-smart-items>li:hover {
    color: orangered !important;
}

.nav-left-life-items {
    z-index: 999;
    position: absolute;
    width: 100%;
    min-height: 150px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 48px;
    transition: all 0.7s;
    color: black !important;
    background-color: whitesmoke;
    text-align: center;
}

.nav-left-life:hover .nav-left-life-items {
    visibility: visible;
    opacity: 1;
}

.nav-left-life-items>li:hover {
    color: orangered !important;
}

ul>li>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid yellow;
    padding: 20px 0;
    gap: 20px;
    width: 120px;
    height: fit-content;
    /* margin: 20px auto; */
}

ul>li>div>i {
    font-size: 1.8em;
}

.nav-hambe-icon {
    /* position: relative; */
    justify-content: start;
    align-items: center;
    flex-direction: column;
    display: none;
}